*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    
}
:root {
    /* Colors */
    --main-color: rgb(16, 13, 59);
    --text-color: rgb(146,168,209);
    --bg-color: rgb(247,202,201);  
    /* Fonts */
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}
*::selection {
    color: var(--text-color);
    background: var(--main-color);
}

